DB_PORT=5432
DB_HOST=postgres
DB_USERNAME=postgres
DB_PASSWORD=postgres
DB_DATABASE=payment_records
PORT=3000
FRONTEND_URL=http://localhost:5173

SMTP_HOST=smtp.example.com
EMAIL_USER=email@gmail.com
EMAIL_PASS=your-email-password

REDIS_URL=redis://redis:6379

ACCESS_SECRET=secret1
ACCESS_EXPIRE=15m
REFRESH_SECRET=secret2
REFRESH_EXPIRE=7d
RESET_SECRET=secret3
RESET_EXPIRE=15m